.people {
    margin: auto;
    text-align: center;
    margin-top: 0.75em;
}
  
.list-item-people {
    display: inline-block;
    padding-right: 1em;
}

.list-post-title img {
    margin-bottom: 0.75em;
    margin-top: 1.25em;
}

.profile-thumbnail {
    object-fit: cover;
    object-position: center top;
    width: 200px;
    height: 200px;
}